/* this section is for the header div */

.header {
    background-color: #1f2937;
    display: flex;
}

.headerlogo {
    font-size: 24px;
     color: #f9faf8;
}

.headerlink {
    font-size: 18px;
    color: #e5e7eb;
}

/* this section is for the hero div */

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 50px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
   background-color: #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

/* this section is for the info div */

.info {
    display: flex;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

 /* this section is for the inspiration div */

 .inspiration {
    background-color: #e5e7eb;
    display: flex;
 }

 .quote {
     font-size: 36px;
     font-style: italic;
     color: #1f2937;
 }

 .credit {
     font-weight: 900;
     font-size: 24px;
     color: #1f2937;
 }

 /* this section is for the action div */

 .action {
     display: flex;
 }

 .call-to-action {
     background-color: #3882f6;
     color: #e5e7eb;
 }

 .signup2 {
     background-color: #3882f6;
     border: #e5e7eb solid 1px;
     border-radius: 8px;
 }

 /* this section is for the footer div */

 footer {
     background-color: #1f2937;
     color: #e5e7eb;
     display: flex;
 }