/* this section is for the header div */

.header {
    background-color: #1f2937;
    display: flex;
    width:inherit;
    justify-content: end;
    height: 10rem;
}

.headerlogo {
     font-size: 24px;
     color: #f9faf8;
     margin: 10px 50px;
     margin-right: auto;
    

}

.headerlink {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;

    
}

/* this section is for the hero div */

.hero {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
   background-color: #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

/* this section is for the info div */

.info {
    display: flex;
    flex-wrap: wrap;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: auto;
    margin-right: 200px;
    margin-left: 200px;
   
    
}

.illustrations {
    border: #3882f6 solid 3px;
    height: 60px;
    width: 60px;
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
}

 /* this section is for the inspiration div */

 .inspiration {
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
 }

 .quote {
     font-size: 36px;
     font-style: italic;
     color: #1f2937;
 }

 .credit {
     font-weight: 900;
     font-size: 24px;
     color: #1f2937;
     margin: auto;
 }

 /* this section is for the action div */

 .action {
     display: flex;
     justify-content: center;
     height: 200px;
 }

 .call-to-action {
     background-color: #3882f6;
     color: #e5e7eb;
     width: 75%;
     text-align: center;
     height: 150px;
     margin-top: 25px;
     border-radius: 8px;
 }

 .signup2 {
     background-color: #3882f6;
     border: #e5e7eb solid 1px;
     border-radius: 8px;
 }

 /* this section is for the footer div */

 footer {
     background-color: #1f2937;
     color: #e5e7eb;
     display: flex;
     justify-content: center;
 }