body {
    
}

.hero {
    background-color: #1f2937;
    display: flex;

}

.headerlogo {
    font-size: 24px;
     color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.headerlink {
    font-size: 18px;
    color: #e5e7eb;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
   background-color: #3882f6;
    border-radius: 8px;

}